.step {
  color: $base-font-color;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  padding: $base-spacing;
  float: left;
  position: relative;
  text-align: center;
  width: 50%;

  &:hover, &:focus {
    color: $base-font-color;

    h4 {
      text-decoration: underline;
    }
  }

  &:last-of-type {
    border-right: none;
  }

  // tablet
  @include media($mqs-desktop-up) {
    width: 25%;
  }

} // step

.steps {
  display: flex;
  flex-wrap: wrap;
  background: white;
  // @include media($mqs-desktop-up) {
  //   @include outer-container;
  // }
}
