.challenge--submissions {

  @extend .layout-container;

  margin-bottom: $base-spacing*2;
  width: 100%;
  overflow-x: scroll;

  @include media($mqs-desktop-up) {
    overflow-x: hidden;
  }

  th, td {
    padding: 20px;
  }

  table {
    width: 800px;

    @include media($mqs-desktop-up) {
      width: 100%;
    }
  }
}

.challenge--submissions,
.challenge--submissions--block {

  tr {
    border-bottom: $base-border;
  }

  th, td {
    text-align: center;
    border-left: $base-border;

    &:first-child {
      text-align: left;
      border-left: none;
    }
  }

  th {
    font-family: $font-med;
    font-size: em(22px);
  }

  td {
    color: $dark-gray;
  }

  footer {
    a {
      @extend .btn;
      @extend .btn--ghost;
    }
  }
}

.challenge--submissions--block {
  tr {
    &:first-child {
      border-top: $base-border;
    }
  }
}

.submission__cta {
  margin: $base-spacing 0;
}

#block-views-block-my-submissions-project-block-1 {
  margin-top: $base-spacing*3;
  margin-bottom: $base-spacing*2;
}

.path-my-submissions {
  .views-element-container {
    h2 {
      font-size: 1.375em;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 .75em;
      font-family: GTWalsheimProLight;
    }
  }
}

#block-challengethisproject {
  margin-bottom: $base-spacing*2;

  a.btn {
    width: 100%;
  }
}

#block-challengethischallenge {
  margin-bottom: $base-spacing*2;
}
