.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: $base-spacing;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;

  &--terms {
    background: $white;
  }

  .close-modal {
    max-width: 1200px;
    margin: 0 auto 1em;
    text-align: right;
    cursor: pointer;
    color: $white;
    font-weight: bold;

    @extend .icon-close;
  }
}

.video {
  max-width: 1200px;
  margin: 0 auto;

  @include aspect-ratio(16, 9);

  iframe {
    width: 100%;
    height: 100%;
  }
}
