@font-face {
  font-family: 'GTWalsheimProBold';
  src: url('../fonts/GT-Walsheim-Pro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Walsheim-Pro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Walsheim-Pro-BoldNew.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Pro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GT-Walsheim-Pro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GTWalsheimProLight';
  src: url('../fonts/GT-Walsheim-Pro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Walsheim-Pro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Walsheim-Pro-LightNew.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Pro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GT-Walsheim-Pro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GTWalsheimProMed';
  src: url('../fonts/GT-Walsheim-Pro-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Walsheim-Pro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Walsheim-Pro-MediumNew.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Pro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GT-Walsheim-Pro-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'GTWalsheimProReg';
  src: url('../fonts/GT-Walsheim-Pro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GT-Walsheim-Pro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GT-Walsheim-Pro-RegularNew.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GT-Walsheim-Pro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GT-Walsheim-Pro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
