@import "variable";
.cm-title {
  color: $titleColor;
}
.cm-title-bar{
  color: $grey;
}
.cm-action-bar {
  color: $grey;
  background-color: #fdfdfd;
}
.cm-icon-grey{
  color: $grey ;
}
.back-ground-dark{
  color:white;
  background-color: $backgoundDark;
}
.tab-item {
  padding: 8px 16px;
  height: 380px;
  overflow-y: auto;
  transition: none;
}

.tab-item::-webkit-scrollbar {
  width: 4px;
}
.tab-item::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tab-item::-webkit-scrollbar-thumb {
  background: #888;
}
.tab-item::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.iframe {
  padding: 0 12px;
  margin-bottom: 32px;
  border-radius: 2px;

}
