.path-message {

  .layout-container {
    float: none;
    margin: 0 auto;
  }

}
.message--list-item .message__subject, .message--list-item .user-avatar__name {
  font-family: 'GTWalsheimProLight';
}
